# Node artifacts
node_modules/
npm-debug.log
yarn-error.log

# dotenv secret file
.env
.env.local
.env.*.local

# Test coverage
coverage/

# OS files
.DS_Store
thumbs.db

# Logs
logs/
*.log

# Optional editor folders
.vscode/
.idea/
